/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5j1--uf6wqcccKTXrH5_YSan4OTvu_IgNUid5uKwRE0r9uE_p");
  background-size: cover;
}
#down {
  margin-top: 200px;
  margin-left: 100px;
}
